<section>
    <h1 class="form-title">Dados Cadastrais</h1>
    <form>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">Nome de Usuário</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Nome do Pai</label>
                <input class="form-input" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">Email</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Senha</label>
                <input class="form-input" type="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">DDD</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Celular</label>
                <input class="form-input" type="text">
            </div>
        </div>
    </form>
</section>