<section>
    <h1 class="form-title">Dados Endereço</h1>
    <form>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">Rua</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Bairro</label>
                <input class="form-input" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">Número</label>
                <input class="form-input" type="number">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Cidade</label>
                <input class="form-input" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">Logradouro</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Estado</label>
                <input class="form-input" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label class="form-label" for="">CEP</label>
                <input class="form-input" type="text">
            </div>
            <div class="form-column">
                <label class="form-label" for="">Ponto de Referência</label>
                <input class="form-input" type="text">
            </div>
        </div>
    </form>
</section>